@media screen and (max-width: 500px) {
  .hero {
    

  }


.contents {
  inset-block-start: -30rem;

  .left-side {
    display: none;
  }
}

.reports {
  position: relative;
  inset-block-start: -35rem;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-wrapper {
    .reports-content {
      .recent-reports {
        display: flex;
        flex-direction: column;
        align-items: center;

        .reports-data {
          margin-bottom: 9rem;
        }
      }
    }

    button {
      position: absolute;
      top: 37em;
      left: 10em;
    }
  }
}

.niger-delta-section {
  position: relative;
  inset: -25rem -1rem;
  p {
    all: unset;
  }
  .img-section {
    overflow: hidden;
  }}
}